*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.content {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  &>div {
    flex: 1 1 30%;
  }
}

@media (max-width: 650px) {
  .content>div {
    flex: 1 1 50%;
  }
}

@media (max-width: 400px) {
  .content>div {
    flex: 1 1 100%;
  }
}