:root {
  --lightbox-z-index-base: 100;
  --lightbox-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  --lightbox-close-size: 35px;
  --lightbox-iframe-ratio: 9/16;
}

.ytLazy {
  &__item {
    cursor: pointer;

    &:hover svg {
      fill: #ff0000;
    }
  }

  &__thumbnail {
    position: relative;
    display: block;
    height: 0;
    padding: 0 0 56.25% 0;
    overflow: hidden;
    background-position: center;

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  &__img {
    &--svg {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      cursor: pointer;
      fill: hsla(0, 100%, 50%, 0.7);
      height: 90px;
      width: 69px;

      @media (max-width: 950px) {
        height: 60px;
        width: 39px;
      }
    }
  }
}

.ytLight {
  z-index: var(--lightbox-z-index-base);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  outline: none;
  opacity: 0;
  // background: rgba(0, 0, 0, 0.9);
  transition: all 1s linear;

  &-wrap {
    z-index: var(--lightbox-z-index-base);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    outline: none;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
  }

  &-container {
    z-index: calc(var(--lightbox-z-index-base) + 2);
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    max-height: 100%;
    width: 100%;
    max-width: 964px;
    outline: none;
  }

  &-iframe {
    width: 100%;
    padding-top: calc(var(--lightbox-iframe-ratio) * 100%);
    overflow: auto;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;

    iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: var(--lightbox-shadow);
      background: #000;
    }
  }

  &-close {
    z-index: calc(var(--lightbox-z-index-base) + 4);
    width: 35px;
    height: 35px;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: #fff;
    font-style: normal;
    font-size: var(--lightbox-close-size);
    line-height: 35px;
    border: 0;
    background: none;
    outline: none;
  }
}

.is-open {
  opacity: 1;
  transition: all 0.5s linear;
}