:root {
  --lightbox-z-index-base: 100;
  --lightbox-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  --lightbox-close-size: 35px;
  --lightbox-iframe-ratio: 9/16;
  --img-button: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='red' d='M31.681 9.6s-.313-2.206-1.275-3.175C29.187 5.15 27.825 5.144 27.2 5.069c-4.475-.325-11.194-.325-11.194-.325h-.012s-6.719 0-11.194.325c-.625.075-1.987.081-3.206 1.356C.631 7.394.325 9.6.325 9.6s-.319 2.588-.319 5.181v2.425c0 2.587.319 5.181.319 5.181s.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563.244 10.881.319 10.881.319s6.725-.012 11.2-.331c.625-.075 1.988-.081 3.206-1.356.962-.969 1.275-3.175 1.275-3.175s.319-2.587.319-5.181v-2.425c-.006-2.588-.325-5.181-.325-5.181V9.6Z'/%3E%3Cpath d='M12.694 20.15v-8.994l8.644 4.513-8.644 4.481Z' fill='white'/%3E%3C/svg%3E");
}

[data-yt] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ytLazy {
  &__item {
    position: relative;
    cursor: pointer;

    &:hover .ytLazy__img {
      opacity: 1;
    }
  }

  &__thumbnail {
    position: relative;
    display: block;
    height: 0;
    padding: 0 0 56.25% 0;
    overflow: hidden;
    background-position: center;

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  &__watch-in {
    position: absolute;
    bottom: 10px;
    z-index: 20;
    font-size: 2rem;
    color: #fff;
    background-color: #141414;
  }

  &__watch-in-link {
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    display: flex;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;

    span {
      color: #fff;
    }
  }

  &__watch-in-link svg {
    margin-left: 10px;
    height: 17px;
    fill: #fff;
    width: 80px;
  }

  &__img {
    &--svg {
      position: absolute;
      content: '';
      background-image: var(--img-button);
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      cursor: pointer;
      height: 70px;
      width: 69px;
      opacity: 0.6;

      @media (max-width: 950px) {
        height: 60px;
        width: 39px;
      }
    }
  }
}

.ytLight {
  z-index: var(--lightbox-z-index-base);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;

  &.is-open {
    &::before {
      position: fixed;
      z-index: 9;
      content: '';
      width: 100%;
      height: 100%;
    }
  }

  &-wrap {
    z-index: var(--lightbox-z-index-base);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    outline: none;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
  }

  &-active {
    overflow: hidden;
  }

  &-container {
    z-index: calc(var(--lightbox-z-index-base) + 2);
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    max-height: 100%;
    width: 100%;
    outline: none;
  }

  &-iframe {
    width: 100%;
    padding-top: calc(var(--lightbox-iframe-ratio) * 100%);
    overflow: auto;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;

    iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: var(--lightbox-shadow);
      background: #000;
    }
  }

  &-close {
    z-index: calc(var(--lightbox-z-index-base) + 4);
    position: fixed;
    right: 10px;
    top: 10px;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: #fff;
    font-style: normal;
    font-size: var(--lightbox-close-size);
    line-height: 35px;
    border: 0;
    background: none;
    outline: none;

    &:after {
      display: block;
      width: 35px;
      height: 35px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 32 32'%3E%3Cpath d='M30.721 6.774l-9.197 9.253 9.197 9.198a.983.983 0 010 1.392l-4.176 4.175a.982.982 0 01-1.391 0l-9.182-9.182-9.127 9.182a.983.983 0 01-1.392 0l-4.175-4.175a.985.985 0 010-1.392l9.127-9.182-9.126-9.126a.985.985 0 010-1.392L5.454 1.35a.983.983 0 011.392 0l9.11 9.11 9.199-9.253a.982.982 0 011.391 0l4.176 4.175a.986.986 0 01-.001 1.392z'/%3E%3C/svg%3E%0A");
    }
  }
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}
